.conteinerTituloComponente{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0% 40%;
}

.tituloComponente{
    font-size: 30px;
    text-shadow: 2px 0 0 black;
    color: white;
}

