@font-face {
    font-family: 'Chapaza';
    src: url('Chapaza.ttf');
}

.conteinerTituloComponente{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0% 40%;
    background-color: #8b0000;
}

.tituloComponente{
    font-size: 30px;
    /* text-shadow: 2px 0 0 black; */
    color: white;
    font-family: "Chapaza";
    font-weight: 400;
    font-style: normal;
}

