.conteinerSubTitulo{
    width: 60%;
    margin: 3% auto;
}

.subtituloClero{
    color: #ddc65e;
    font-family: Chapaza;
    text-align: center;
}

.textoSubtitulo{
    text-align: center;
}

.conteinerBispos{
    display: flex;
    margin: 0 auto 3% auto;
    padding: 0 10px;
    width: 51%;
    height: 400px;
    background-color: #f0d4da;
    border-radius: 10px;
}

.setasNavegacao{
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-top: 5px;
}

#setaVoltar.setasNavegacao{
    margin-right: 2%;
}

#setaAvancar.setasNavegacao{
    margin-left: 2%;
}

.conteinerBispos h1{
    font-size: 35px;
    font-family: "Chapaza";
    color: #860000;
    text-align: center;
    margin-top: 5px;
}

.conteinerBispos h2{
    font-size: 25px;
    font-family: "Chapaza";
    color: #ddc65e;
    text-align: center;
    
}

.conteudoBispos{
    padding: 0 10px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f0d4da;
    border-radius: 10px;
}

.conteinerBispos div.bispoFotoTexto{
    float: left;
}

#texto{
    margin-right: 20px;
}

.conteinerBispos div.bispoFotoTexto img{
    margin-right: 10px;
    border-radius: 100%;
    border: 3px solid #8c201f;
    height: 250px;
    width: 250px;
    object-fit: fill;
}

.tituloClero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8c201f;
    background-color: #dec75f;
    border-radius: 100px;

    width: 66%;
    height: 45px;
    padding: 5px 25px 5px 25px;
    margin: 0 auto 0 auto;
    cursor: pointer;
}
.tituloClero p#padresDiocese{
    margin: 0;   
    margin-left: 35%;
}

p#padresResidindoFora{
    text-align: center;

    width: 66%;
    height: 45px;

    background-color: #dec75f;
    
    border-radius: 100px;
    
    padding: 10px 25px 9px 25px;
    margin: 0 auto 0 auto;
}

.tituloClero p#diaconosPermanentes{
    margin: 0;
    margin-left: 30%;
}

.tituloClero p#diaconos{
    margin: 0;
    margin-left: 45%;
}

.tituloClero img{
    width: 40px;
    height: 40px;
    
}

.conteinerPadresBauru{
    display: flex;
    flex-wrap: wrap; 
    padding: 1% 0 0 0;
    margin: 0 auto 0 auto;
    background-color: #e5d99f;
    border-radius: 0 0 10px 10px;
    
}

.nomesPadresBauru{
    width: 50%;
    text-align: center;
}

.conteinerDiaconosGeral{
    display: flex;    
    margin-bottom: 2%;
}

.conteinerDiaconosGeral>div{
    width: 100%;
}
.conteinerDiaconosGeral>div>div.tituloClero{
    width: 90%;
}

.conteinerDiaconosPermanentes{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 1% 0 0 0;
    margin: 0 auto 3% auto;
    background-color: #e5d99f;
    border-radius: 0 0 10px 10px;
}

.nomesDiaconos{
    width: 50%;
    text-align: center;
}

.nomesPadresBauru:nth-child(2n), .nomesDiaconos:nth-child(2n){
    width: 47%;
    margin-left: 1%;
    margin-right: 2%;
    
}

.conteinerPadresResidindoFora{
    display: flex;
    justify-content: center;
}

.padreResidindoFora{
    margin: 1%;
}
