#conteinerCalendario{
    margin: 2% auto 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteinerPainelInfo{
    margin: 2% auto 2% auto;
    /* border-left: 1px solid black;
    border-bottom: 1px solid black; */
}

.react-calendar__navigation{
    background-color: #b11918;
}

.react-calendar__navigation button:enabled:focus{
    background-color: #b11918;

}

.react-calendar__navigation button:enabled:hover {
    background-color: #ee9c9cbe;
}

.react-calendar__navigation__arrow{
    color: white
}


span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
    text-transform: uppercase;
    color: white;
}

.react-calendar button{
    border-radius: 0px;
}

.react-calendar button.evento{
    margin: 0;
    outline: 0.5px solid rgb(216, 64, 64);
    
}

.react-calendar button.domingo{
    color: #d10000;
}
.react-calendar button.domingo.react-calendar__tile--active,
button.react-calendar__month-view__days__day--weekend.react-calendar__tile--active {
    color: white;
}



button.react-calendar__month-view__days__day--weekend {
    color: black;
}

.conteinerInfoEvento h6{
    margin-left: 5%;
}

.conteinerInfoEvento li{
    margin-left: 15%;
}

#iconeInfo{
    width: 64px;
    height: 64px;
}

#redesSociais{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1% ; 
}

#redesSociais > *{
    margin: 3%;
}
