.congregacoesConteiner{
    display: flex;
    justify-content: space-around;
    padding: 0% 5%;
}
.congregacoesMasculinas, .congregacoesFemininas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 10px;
}
.congregacoesMasculinas div, .congregacoesFemininas div{
    width: 100%;
    margin: 4px 0px;
    
}

#iconeMasculinas, #iconeFemininas{
    width: 340px;
    height: 45px;
    cursor: auto;
    margin-top: 2%;
}

#iconeMasculinas{
    background: url(./../../assets/congregacoesMasculinas.svg) 100% / 100%  no-repeat #ebd972;
}
#iconeFemininas{
    background: url(./../../assets/congregacoesFemininas.svg) 100% / 100%  no-repeat #f2ed99;
}


.outrosCongregacoesConteiner{
    display: flex;
    justify-content: center;
    
}
.outrosCongregacoes{
    margin: 1% auto;
    width: 75%;
}
.outrosCongregacoes > div{
    margin: 4px 0px;
    border: none;
    background-color: #eddc86;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
}

.negrito{
    font-weight: bold;
}
